main {
  display: flex;
  flex-flow: row wrap;
  background-color: darkslategrey;
  background-image: linear-gradient(to right, rgba(0,0,0,0.3), rgba(255,255,255,0)),url('../images/main-poster.jpeg');
  background-size: cover;
  resize: both;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 0.5rem solid green;
}